@typeparam TMemberDto

@using Syncfusion.Blazor.Inputs
@using System.IO

<label class="pt-2">Volunteer Confidentiality (Required)</label>
<SfUploader AllowedExtensions=".png, .jpg, .svg, .bmp, .jpeg, .gif, .wepg" MinFileSize=5000 MaxFileSize=1000000>
    <UploaderEvents OnRemove="OnRemoveConfidentiality" ValueChange="OnChangeConfidentiality"></UploaderEvents>
</SfUploader>
@if (Member.VolunteerConfidentialityData != null)
{
    <img src="data:image/bmp;base64, @(Convert.ToBase64String(Member.VolunteerConfidentialityData))">
}
else
{
    <p>No image currently uploaded</p>
}
<label class="pt-2">Volunteer Ethics (Required)</label>
<SfUploader AllowedExtensions=".png, .jpg, .svg, .bmp, .jpeg, .gif, .wepg" MinFileSize=5000 MaxFileSize=1000000>
    <UploaderEvents OnRemove="OnRemoveEthics" ValueChange="OnChangeEthics"></UploaderEvents>
</SfUploader>
@if (Member.VolunteerEthicsData != null)
{
    <img src="data:image/bmp;base64, @(Convert.ToBase64String(Member.VolunteerEthicsData))">
}
else
{
    <p>No image currently uploaded</p>
}
<label class="pt-2">Criminal Record (Required)</label>
<SfUploader AllowedExtensions=".png, .jpg, .svg, .bmp, .jpeg, .gif, .wepg" MinFileSize=5000 MaxFileSize=1000000>
    <UploaderEvents OnRemove="OnRemoveCriminal" ValueChange="OnChangeCriminal"></UploaderEvents>
</SfUploader>
@if (Member.CriminalRecordCheckData != null)
{
    <img src="data:image/bmp;base64, @(Convert.ToBase64String(Member.CriminalRecordCheckData))">
}
else
{
    <p>No image currently uploaded</p>
}
<label class="pt-2">Driving Abstract (Optional)</label>
<SfUploader AllowedExtensions=".png, .jpg, .svg, .bmp, .jpeg, .gif, .wepg" MinFileSize=5000 MaxFileSize=1000000>
    <UploaderEvents OnRemove="OnRemoveDriving" ValueChange="OnChangeDriving"></UploaderEvents>
</SfUploader>
@if (Member.DrivingAbstractData != null)
{
    <img src="data:image/bmp;base64, @(Convert.ToBase64String(Member.DrivingAbstractData))">
}
else
{
    <p>No image currently uploaded</p>
}
<label class="pt-2">Confirmation Of Professional Designation (Optional)</label>
<SfUploader AllowedExtensions=".png, .jpg, .svg, .bmp, .jpeg, .gif, .wepg" MinFileSize=5000 MaxFileSize=1000000>
    <UploaderEvents OnRemove="OnRemoveDesignation" ValueChange="OnChangeDesignation"></UploaderEvents>
</SfUploader>
@if (Member.ConfirmationOfProfessionalDesignationData != null)
{
    <img src="data:image/bmp;base64, @(Convert.ToBase64String(Member.ConfirmationOfProfessionalDesignationData))">
}
else
{
    <p>No image currently uploaded</p>
}
<label class="pt-2">Child Welfare (Optional)</label>
<SfUploader AllowedExtensions=".png, .jpg, .svg, .bmp, .jpeg, .gif, .wepg" MinFileSize=5000 MaxFileSize=1000000>
    <UploaderEvents OnRemove="OnRemoveWelfare" ValueChange="OnChangeWelfare"></UploaderEvents>
</SfUploader>
@if (Member.ChildWelfareCheckData != null)
{
    <img src="data:image/bmp;base64, @(Convert.ToBase64String(Member.ChildWelfareCheckData))">
}
else
{
    <p>No image currently uploaded</p>
}
