@using Blazorise

@code {
    [Parameter]
    public MemberAdminReadEditDto Member { get; set; }

    string selectedTab = "personal";

    private void OnTabChanged(string name)
    {
        selectedTab = name;
    }
}

<div class="p-3">
    <Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnTabChanged">
        <Items>
            <Tab Class="main-tab" Name="personal">Personal and Contact</Tab>
            <Tab Class="main-tab" Name="positions">Positions</Tab>
            <Tab Class="main-tab" Name="avail">Availabilities</Tab>
            <Tab Class="main-tab" Name="qual">Qualifications</Tab>
            <Tab Class="main-tab" Name="cert">Certifications</Tab>
            <Tab Class="main-tab" Name="check">Checks</Tab>
        </Items>
        <Content>
            <TabPanel Name="personal">
                <div class="personal-container p-2">
                    <div>
                        <div>
                            <span class="text-nowrap font-weight-bold">Birth Date:</span>
                            <span class="text-nowrap font-weight-bold">Alternate Phone 1:</span>
                            <span class="text-nowrap font-weight-bold">Alternate Phone 2:</span>
                        </div>
                        <div>
                            <span class="text-nowrap">@Member.Birthdate.ToString("MMMM dd yyyy")</span>
                            <span class="text-nowrap">@Member.AlternatePhone2</span>
                            <span class="text-nowrap">@Member.AlternatePhone1</span>
                        </div>
                    </div>
                    <div>
                        <div>
                            <span class="text-nowrap font-weight-bold">Address:</span>
                            <span class="text-nowrap font-weight-bold">City:</span>
                            <span class="text-nowrap font-weight-bold">Postal Code:</span>
                        </div>
                        <div>
                            <span class="text-nowrap">@Member.Address</span>
                            <span class="text-nowrap">@Member.City</span>
                            <span class="text-nowrap">@Member.PostalCode</span>
                        </div>
                    </div>
                    <div>
                        <div>
                            <span class="text-nowrap font-weight-bold">Emergency Contact:</span>
                            <span class="text-nowrap font-weight-bold">Relationship to Emergency Contact:</span>
                        </div>
                        <div>
                            <span class="text-nowrap">@Member.EmergencyFullName</span>
                            <span class="text-nowrap">@Member.EmergencyRelationship</span>
                        </div>
                    </div>
                    <div>
                        <div>
                            <span class="text-nowrap font-weight-bold">Emergency Contact phone 1:</span>
                            <span class="text-nowrap font-weight-bold">Emergency Contact phone 2:</span>
                        </div>
                        <div>
                            <span class="text-nowrap">@Member.EmergencyPhone1</span>
                            <span class="text-nowrap">@Member.EmergencyPhone2</span>
                        </div>
                    </div>
                </div>
            </TabPanel>
            <TabPanel Name="avail">
                <div class="availability-container p-2">
                    <AvailabilityEditor @bind-AvailabilitiesData="@Member.Availabilities" IsReadOnly="true" />
                </div>
            </TabPanel>
            <TabPanel Name="positions">
                <div class="positions-container p-2">
                    <h6>Assigned Positions</h6>
                    <div>
                        @{
                            string positionList = "";
                            foreach (var position in Member.Positions.Where(p =>
                                p.Association == AssociationType.Assigned ||
                                p.Association == AssociationType.PreferredAndAssigned))
                            {
                                positionList += position.Position.Name + ", ";
                            }

                            positionList = positionList.Trim(' ').Trim(',');
                        }
                        <span>@positionList</span>
                    </div>
                    <br />
                    <h6>Preferred Positions</h6>
                    <div>
                        @{
                            positionList = "";
                            foreach (var position in Member.Positions.Where(p =>
                                p.Association == AssociationType.Preferred ||
                                p.Association == AssociationType.PreferredAndAssigned))
                            {
                                positionList += position.Position.Name + ", ";
                            }

                            positionList = positionList.Trim(' ').Trim(',');
                        }
                        <span>@positionList</span>
                    </div>
                </div>
            </TabPanel>
            <TabPanel Name="qual">
                <div class="qualifications-container p-2">
                    <div class="general-experience">
                        <span style="font: 14px; width: auto;">General Experience</span>
                        <div class="general-experience-content pb-1">
                            <div class="general-experience-column">
                                <div class="education form-group">
                                    <label><strong>Education and Training</strong></label>
                                    <p>@Member.EducationTraining</p>
                                </div>
                                <div class="skills form-group">
                                    <label><strong>Skills, Interests and Hobbies</strong></label>
                                    <p>@Member.SkillsInterestsHobbies</p>
                                </div>
                            </div>
                            <div class="general-experience-column">
                                <div class="experience form-group">
                                    <label><strong>Volunteer Experience</strong></label>
                                    <p>@Member.Experience</p>
                                </div>
                                <div class="boards form-group">
                                    <label><strong>Volunteer Boards</strong></label>
                                    <p>@Member.OtherBoards</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Member.WorkExperiences.FirstOrDefault().EmployerName) && !string.IsNullOrEmpty(Member.WorkExperiences.FirstOrDefault().EmployerAddress))
                    {
                        <div class="work-experience">
                            <span style="font: 14px; width: auto;">Last or Current Job</span>
                            <div class="work-experience-content">
                                <div class="work-experience-column">
                                    <div class="employer-name form-group">
                                        <label><strong>Place of Work</strong></label>
                                        <p>@Member.WorkExperiences.FirstOrDefault().EmployerName</p>
                                    </div>
                                    <div class="employer-address form-group">
                                        <label><strong>Address</strong></label>
                                        <p>@Member.WorkExperiences.FirstOrDefault().EmployerAddress</p>
                                    </div>
                                </div>
                                <div class="work-experience-column">
                                    <div class="date form-group">
                                        <label><strong>Start Date</strong></label>
                                        <p>@Member.WorkExperiences.FirstOrDefault().StartDate.Value.ToString("MMMM dd yyyy")</p>
                                    </div>
                                    @if (Member.WorkExperiences.FirstOrDefault().CurrentJob)
                                    {
                                        <div class="form-group date">
                                            <p><strong>Current Job</strong></p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="date form-group">
                                            <label><strong>End Date</strong></label>
                                            <p>@Member.WorkExperiences.FirstOrDefault().EndDate.Value.ToString("MMMM dd yyyy")</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </TabPanel>
            <TabPanel Name="cert">
                <div class="cert-container p-2">
                    @if (!Member.FirstAidCpr)
                    {
                        <div class="firstaid-container">
                            <h6>First Aid</h6>
                            <div id="firstaid-level">
                                <label><strong>Level:</strong></label>
                                <span>@Member.FirstAidCprLevel</span>
                            </div>
                            <div id="firstaid-expiry">
                                <label><strong>Expiry:</strong></label>
                                <p>@Member.FirstAidCprExpiry</p>
                            </div>
                        </div>
                    }
                    @if (!Member.FoodSafe)
                    {
                        <div class="foodsafe-container">
                            <h6>Food Safe</h6>
                            <div id="food-expiry">
                                <label><strong>Expiry:</strong></label>
                                <p>@Member.FoodSafeExpiry</p>
                            </div>
                        </div>
                    }
                    @if (string.IsNullOrEmpty(Member.OtherCertificates))
                    {
                        <div class="other-container">
                            <h6>Other Certificates</h6>
                            <p>@Member.OtherCertificates</p>
                        </div>
                    }
                </div>
            </TabPanel>
        </Content>
    </Tabs>
</div>


